.grid-item {
  text-align: center;
  margin: 0 auto;
}

@media (min-width: 640px) {
  .grid-hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -8px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .grid-hero > .grid-item { 
    padding: 0 8px;
    text-align: left;
  }
}

@media (max-width: 960px) {
  .grid-shop > .grid-item {
    display: flex;
  }
}

@media (min-width: 960px) {
  .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .grid-shop {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .grid-contrary {
    margin: 0 -8px;
  }

  .grid-contrary > .grid-item {
    padding: 0 8px;
  }
}

@media (max-width: 960px) {
  .grid-contrary .grid-item::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
  }
}

@media (min-width: 1200px) {
  .grid-hero > .grid-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}