@font-face {
  font-family: 'prechu';
  src:  url('../../fonts/icons/prechu.eot?1xz35w');
  src:  url('../../fonts/icons/prechu.eot?1xz35w#iefix') format('embedded-opentype'),
    url('../../fonts/icons/prechu.ttf?1xz35w') format('truetype'),
    url('../../fonts/icons/prechu.woff?1xz35w') format('woff'),
    url('../../fonts/icons/prechu.svg?1xz35w#prechu') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'prechu' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-done:before {
  content: "\e901";

}
.icon-pencil:before {
  content: "\e902";
  color: #fff;
}
.icon-cake:before {
  content: "\e903";
  color: #fff;
}
.icon-monic:before {
  content: "\e904";
  color: #fff;
}

.icon {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 78px;
}

.back {
  border: 1px solid;
  border-radius: 50%;
  margin: 0 auto;
  min-width: 140px;
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.back-pancil {
  background-color:#5094f2;
}

.back-monic {
  background-color:#d94748;
}

.back-cake {
  background-color:#ebbb11; 
}

.icon-done {
  margin-right: 10px;
}

@media (max-width: 640px) {
  .back {
    max-width: 140px;
  }
}

@media (min-width: 640px) {
  .back {
    margin: 0 15px;
  }
}

@media (min-width: 960px) {
  .back {
    min-width: 186px;
    height: 186px;
  }
}