.nav .nav-item {
  padding: 0 15px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.2px;
}

.nav-item.is-active {
  color: #5094f2;
  text-decoration: none;
}

.nav-item:hover {
  border-bottom: 3px solid #5094f2;
  padding-bottom: 27px;
  color: #6c6c6c;
  text-decoration: none;
} 

.nav-menu {
  display: none;
}

@media (max-width: 650px) {
  .nav-menu {
    display: block;
  }
  .nav {
    display: none;
  }
}