.nav {
  margin: 0 -15px; 
}

.nav .nav-item {
  padding: 0 15px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.2px;
}

.nav-item.is-active {
  color: #5094f2;
  text-decoration: none;
}

.nav-menu {
  width: 50px;
  height: 50px;
  background: #5094f2;
  display: none;
}

@media (max-width: 650px) {
  .nav-menu {
    display: block;
  }
  .nav {
    display: none;
  }
}